{
  "context": {
    "managedOrgVendingRoleArn": "",
    "orgBootstrapControlPlaneAccountId": "<YOUR_CONTROL_PLANE_ACCOUNT_ID>",
    "managedParentHostedZoneId": "",
    "managedAccountEmailTemplateLab": "<YOUR_EMAIL>+lab-{slug}@<YOUR_DOMAIN>",
    "managedAccountEmailTemplateLive": "<YOUR_EMAIL>+{slug}@<YOUR_DOMAIN>",
    "bootstrapWalletAddress": "<YOUR_BOOTSTRAP_WALLET_ADDRESS>",
    "ensGatewayEnabledLab": "true",
    "ensGatewayEnabledLive": "false",
    "ensGatewayRootName": "lessersoul.eth",
    "ensGatewayResolverAddressLab": "<YOUR_SEPOLIA_ENS_GATEWAY_RESOLVER_ADDRESS_LAB>",
    "ensGatewayResolverAddressLive": "<YOUR_MAINNET_ENS_GATEWAY_RESOLVER_ADDRESS_LIVE>",
    "ensGatewayTtlSeconds": "300",
    "tipContractAddressLab": "<YOUR_TIP_CONTRACT_ADDRESS_LAB>",
    "soulRegistryContractAddressLab": "<YOUR_SOUL_REGISTRY_CONTRACT_ADDRESS_LAB>",
    "soulReputationAttestationContractAddressLab": "<YOUR_SOUL_REPUTATION_ATTESTATION_CONTRACT_ADDRESS_LAB>",
    "soulValidationAttestationContractAddressLab": "<YOUR_SOUL_VALIDATION_ATTESTATION_CONTRACT_ADDRESS_LAB>",
    "soulAdminSafeAddress": "<YOUR_SOUL_ADMIN_SAFE_ADDRESS>",
    "tipAdminSafeAddress": "<YOUR_TIP_ADMIN_SAFE_ADDRESS>",
    "tipDefaultHostWalletAddress": "<YOUR_TIP_DEFAULT_HOST_WALLET_ADDRESS>"
  }
}
